@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;500;600;700&display=swap');

html,body{
  margin: 0;
  background-color: var(--bodyBgColor);
  --sectionWidth : 450px;
  --sectionBgColor : #61E786;
  --bodyBgColor: #EDFFEC;
  --textColor: #48435C;
  --sectionDefaultVMargin: .5rem;
  --sectionDefaultHPadding: .5rem;
  --sectionBorderRadius: .5rem;
}

.section{
  margin: var(--sectionDefaultVMargin) auto;
  padding: var(--sectionDefaultHPadding);
  width: var(--sectionWidth);
  background-color: var(--sectionBgColor);
  border-radius: var(--sectionBorderRadius);
}